{% extends 'base.html' %}
{% load bootstrap3 %}
{%load crispy_forms_tags%}
{%block content%}
<div class="col-sm-6 m-auto card">
    <div class="content-section container card-body" style="padding-top: 60px;">
        <div class="info">
            <div class="col-sm-4">
                <div style="width: 150px; height:150px; overflow:hidden; border-radius:50%" class="img-wrapper">
                    <img width="120%" height="120%" src="{{user.profile.image.url }}" alt="profile">
                </div>
            </div>
            <div class="media-body">
                <h2 class="account-heading" style="font-family: 'Lobster Two', cursive;">{{user.username}}</h2>
                <p class="text-secondary">{{user.email}}</p>
                <p>{{user.profile.bio}}</p>
                <p><b>Created on:</b> {{user.profile.date}}</p>
            </div>
        </div>

        <div class="container">
            <form method="POST" enctype="multipart/form-data">
                {%csrf_token%}
                <fieldset class="form-group">
                    <h2><u><b>Profile Info</b></u></h2>
                    <!-- <legend class="border-bottom mb-4">Profile info</legend> -->
                    {{ u_form|crispy }}
                    {{ p_form|crispy }}
                </fieldset>
                <div class="form-group">
                    <button class="btn btn-outline-info" type="submit">Update</button>
                </div>
            </form>
        </div>
    </div>
</div>

{%endblock content%}