{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container-fluid">
    <div class="card">
            <div class="card-body">
                <img src="{{post.image.url}}" alt="" style="height: 300px; width: 550px;">
                <h3><b>{{post.title}}</b></h3>
                <a class="my-3 mx-auto text-center text-light" href="{{project.url}}">
                    <button class="text-muted btn btn-warning">Visit site</button>
                </a>
                <p><b>Description:</b>{{ post.description }}</p>
                <!-- <hr> -->
                <div class="row">
                    <div class="col-md-2"></div>
                    <div class="col-md-6">
                        <h3 class="D-block mx-auto"><b><u>Rating Scores</u></b> </h3>
                        {% for rating in post.ratings.all %}
                        {% if forloop.counter is post.ratings.all.count %}
                        <a class="btn btn-info btn-md" ><h5>{{ rating.score }}</h5>
                            <span class="sc">Average Score</span>
                        </a>
                        <a class="btn btn-outline-success btn-md" ><h5>{{ rating.design_average }}</h5>
                            <span class="sc">Design Average</span>
                        </a>
                        <a class="btn btn-outline-primary btn-md" ><h5>{{ rating.usability_average }}</h5>
                            <span class="sc">Usability Average</span>
                        </a>
                        <a class="btn btn-outline-danger btn-sm" id="c"><h5>{{ rating.content_average }}</h5>
                            <span class="sc">Content Average</span>
                        </a>
                        {% endif %}
                        {% endfor %}
                    </div>
                    <div class="col-md-2"></div>
                </div>

                {% if rating_status %}
                <h5>You have already voted</h5>
                {% else %}
                {% if user.is_authenticated %}
                <form action="" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{rating_form|crispy}}
                    <button class="btn btn-sm btn-info">Rate</button>
                </form>
                {% endif %}
                {% endif %}
            </div>

        </div>
    </div>
</div>
{% endblock %}